{{#partial "content"}}
    {{#if editPosition}}
        <div class="form-div">
            <h1>Edit this Position!</h1>
            <form action="/positions/{{position.id}}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Edit this position's name</label>
                    <input class="form-control input-field" id="newPosition" name="newPosition" type="text" value="{{position.name}}">
                </div>
                <div class="mb-3 input-div">
                    <input class="form-control border-bottom input-field" id="updated" name="updated" type="hidden" value="{{position.updated}}" required>
                </div>
                <script>
                    function time() {
                    let dt = new Date().toLocaleString()
                    document.getElementById('updated').value = dt
                    }
                </script>
                <button type="submit" class="btn btn-success bt-sm" onclick="time()">Submit</button>
            </form>
        </div>
    {{else}}
        <div class="form-div">
            <h3 class="text-center form-title">Add new Position</h3>
            <form action="/positions" method="post" class="form">
                <div class="mb-3 input-div">
                    <label for="name" class="form-label">Position name</label>
                    <input class="form-control border-bottom input-field" id="name" name="name" type="text" placeholder="Enter Position" required>
                </div>
               <div class="mb-3 input-div">
                    <input class="form-control border-bottom input-field" id="created_at" name="created_at" type="hidden"  required>
                </div>
                <script>
                    function created() {
                    let dt = new Date().toLocaleString()
                    document.getElementById('created_at').value = dt
                    }
                </script>
                <button type="submit" class="btn btn-success btn-sm" onclick="created()">Submit</button>
            </form>
        </div>
    {{/if}}
{{/partial}}

{{> layout.hbs}}